@page "/todos"

<PageTitle>Todos</PageTitle>

<h1>Todos</h1>

@foreach (var todo in Todos)
{
    <FluentCard>
        <label>@todo.Title</label>
        <FluentSpacer />
        <p>@todo.Description</p>
        <FluentSpacer />
        <FluentCheckbox @bind-Value=todo.Done></FluentCheckbox>
    </FluentCard>
}
