@page "/todos"

<PageTitle>Todos</PageTitle>

@foreach (var todo in Todos)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@todo.Title</h5>
            <p class="card-text">@todo.Description</p>
            <input checked=@todo.Done class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        </div>
    </div>
}
