@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row p-2 text-bg-primary">
        <Header />
    </div>

    <div class="row p-2">
        @* <div class="col-3" style="border-style: dotted;">
        <nav class="list-group">
        <NavLink href="/counter" class="list-group-item list-group-item-action">
        <h6>Counter</h6>
        </NavLink>

        <NavLink href="/todos" class="list-group-item list-group-item-action">
        <h6>Todos</h6>
        </NavLink>
        </nav>
        </div> *@

        <div class="col" style="border-style: dotted;">
            <main class="container-fluid">
                @Body
            </main>
        </div>
    </div>

    <div class="row p-2">
        <Footer />
    </div>
</div>
