@inherits LayoutComponentBase

<div class="contianer">
    <div class="row">
        <div class="col">
            <header style="text-align: center; border-style: dotted;">
                <h1>Header</h1>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-3" style="border-style: dotted;">
            <nav class="list-group">
                <NavLink href="/counter" class="list-group-item list-group-item-action">
                    <h6>Counter</h6>
                </NavLink>

                <NavLink href="/todos" class="list-group-item list-group-item-action">
                    <h6>Todos</h6>
                </NavLink>
            </nav>
        </div>

        <div class="col-9" style="border-style: dotted;">
            <main class="container">
                @Body
            </main>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <footer style="text-align: center; border-style: dotted;">
                <h3>Footer</h3>
            </footer>
        </div>
    </div>
</div>
