@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        <h1>Header</h1>
    </FluentHeader>

    <FluentGrid Spacing="3" Justify="JustifyContent.FlexStart" style="margin-left: 1rem; margin-right: 1rem;">
        <FluentGridItem style="border-style: dotted;" xs="3">
            <Sidebar />
        </FluentGridItem>

        <FluentGridItem style="border-style: dotted;" xs=9>
            <FluentBodyComponent style="margin-left: 2rem; margin-right: 2rem;">
                @Body
            </FluentBodyComponent>
        </FluentGridItem>
    </FluentGrid>

    <FluentFooter style="text-align: center;">
        <h3>Footer</h3>
    </FluentFooter>
</FluentLayout>
